.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 80px;
    border-radius: 6px;
    font-size: 14px;
    color: #757575;
    background-color: #fff;
    box-shadow: 1px 1px 4px 3px rgb(0 102 255 / 50%);
}