.App {
    text-align: center;
}

.flowchart_container {
    width: 1400px;
    margin: 40px auto 0 auto;
}

.toast_container {
    width: 480px;
    border-radius: 6px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}
