.flowchart__node__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flowchart__node__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
